.gridWrapper {
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
	grid-template-columns: minmax(300px, 1fr);
	justify-content: center;
	gap: 2rem;
}

.container {
	box-shadow: 0px 2px 8px 0px gray;
	text-align: center;
	border-radius: 1rem;
	position: relative;
}

.banner {
	border-bottom: 1px solid gray;
}

.title {
	margin-top: 0;
	font-weight: 10;
	font-size: 2rem;
}

.role {
	margin-top: 0;
	font-weight: 350;
}

.date {
	font-weight: 10;
}

@media screen and (min-width:850px) {
	.gridWrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 850px) {
	.gridWrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}