.wrapper {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: row;
	padding: 15px;
}


.banner {
	width: 20%;
	display: flex;
	justify-content: center;
	position: relative;
	width: 200px;
	min-width: 200px;
	height: 87px;
	min-height: 87px;
	margin-right: 20px;
}

.info {
	width: 80%;
}

.title {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0; 
}

.creators {
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0;
}

.date {
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0;
}

.row {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 790px) {
	.wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.container {
		flex-direction: column;
		width: 100%;
	}

	.info {
		width: 100%;
	}

	.banner {
		display: none; /* TODO: Figure out if I ca display the image on the top still */
		align-self: center;
		width: 66vw;
		height: 44vw;
		margin-right: 0;
	}
}