.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: rgba(38, 198, 218, 1.0);
  line-height: 8vh;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.23);
  z-index: 100;
}

.navbar_logo {
  margin-left: 1%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 8.4vh;
  align-items: center;
}

.navbar li {
  padding: 15px;
  display: inline;
  line-height: 100%;
}

.navbar li:hover {
    background-color: rgba(0, 0, 0, 0.13);
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.navbar a {
  font-size: 20px;
  color: rgb(68, 68, 68);
}

.navbar a:hover {
  text-decoration: none;
}