.wrapper {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: row;
	padding: 15px;
	cursor: pointer;
}

.container:hover {
	opacity: 0.7;
}

.banner {
	width: 20%;
	display: flex;
	justify-content: center;
	position: relative;
	width: 300px;
	min-width: 300px;
	height: 200px;
	min-height: 200px;
	margin-right: 20px;
}

.bannerMobile {
	display: none;
}

.info {
	width: 80%;
}

.title {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0; 
}

.creators {
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0;
}

.date {
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 0;
}

.row {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 790px) {
	.wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.container {
		flex-direction: column;
		width: 100%;
	}

	.info {
		width: 100%;
	}

	.banner {
		display: none;
	}

	.bannerMobile {
		display: block;
		align-self: center;
		width: 66vw;
		height: 44vw;
		margin-right: 0;
	}
}