.wrapper {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.banner {
	width: 300px;
	min-width: 300px;
	height: 200px;
	min-height: 200px;
	display: flex;
	justify-content: center;
	margin-right: 20px;
	position: relative;
}

.info {
	width: 80%;
}

.title {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 0; 
}

.creators {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.creator {
	margin-right: 15px;
	display: inline-block;
	font-weight: 400;
}

.technologies {
	margin-top: 0;
	margin-bottom: 0;
}

.technology {
	color: #e0a355;
	margin-left: 15px;
	display: inline-block;
}

.links {
	padding-right: 30px;
}

.row {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 790px) {
	.wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.container {
		flex-direction: column;
		width: 100%;
	}

	.info {
		width: 100%;
	}

	.banner {
		align-self: center;
		width: 66vw;
		height: 44vw;
		margin-right: 0;
	}
}