.typewriter {
	font-family: 'Hack', monospace;
	font-size: calc(9px + 5vw);
	display: flex;
	justify-content: center;
}

.gap {
	margin-top: 26vh;
}

/* @media screen and (max-width: 550px) {
	.typewriter {
		font-size: 55px;
	}
} */
